/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
<<<<<<< HEAD
 

.heroBanner {
  /* padding: 4rem 0; */
  /* text-align: center; */
  position: relative;
  overflow: hidden;
  background-color: var(--index-background-color);
  height: calc(100vh - 60px);
  width: 100vw;
  max-width: 100%;
  color: #000;
}

.indexContainer {
  display: grid;
  grid-template-columns: 7fr 10fr;
  align-items: center;
}

.indexTitle {
  font-size: calc(1.8em + 1.2vw);
  color: var(--ifm-color-info);
}

.indexInfo {
  font-size: 1.125rem;
  color: #8C99AB;
}

.indexIco a{
  color: var(--ifm-color-info);
  margin-right: 3rem;
=======

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.headerBox {
  position: relative;
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
  height: calc(100vh - 60px);
  padding: 15vw;
}

.headerBoxContainer {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.headerBox h1 {
  color: var(--ifm-color-primary);
}

.headerBox p {
  font-size: 1.125rem;
  color: var(--ifm-color-primary-label);
}

.headerBoxIco {
  max-width: 40%;
  display: flex;
  justify-content: space-between;
>>>>>>> kkt-next
}

.indexImg {
  width: 100%;
<<<<<<< HEAD
}


=======
  height: 100%;
}

>>>>>>> kkt-next
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

<<<<<<< HEAD
  .heroBanner {
    /* padding: 4rem 0; */
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .indexContainer {
    grid-template-columns: 1fr;
    gap: 10vh 0;
  }
  
  .indexImg {
    height: 100%;
=======
  .headerBoxContainer {
    flex-direction: column;
  }

  .headerBoxContainer div {
    margin: 25px 0;
  }

  .headerBoxIco {
    max-width: 80%;
>>>>>>> kkt-next
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
<<<<<<< HEAD


=======
>>>>>>> kkt-next
